@font-face {
    font-family: "Happy Monkey";
    src: url("HappyMonkey-Regular.ttf");
}

* {
    -fx-text-fill: #C7C7C7;
    -fx-font-family: "Happy Monkey";
}

.root {
    -fx-background-color: #666666;
}

.button, .radio-button {
    -fx-font-size: 16px;
}

#logoutBtn {
    -fx-font-size: 12px;
}

.radio-button .radio {
    -fx-background-color: #E7F6F2;
    -fx-border-color: #C9D6D3;
    -fx-border-width: 1px;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-effect: dropshadow(gaussian, #E7F6F2, 5, 0, 0, 1);
}

#achievementPane .box,
#rememberMe .box {
    -fx-background-color: #E7F6F2;
    -fx-border-color: #C9D6D3;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-effect: dropshadow(gaussian, #E7F6F2, 5, 0, 0, 1);
}

#rememberMe .box,
#rememberMe .text {
    -fx-font-size: 20px;
}

.button, .pauseMenuHBox {
    -fx-background-color: #395B64;
    -fx-border-color: #313131;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #313131, 5, 0, 0, 1);
}

.radio-button .radio,
.slider .track,
.scroll-bar .track,
.scroll-bar .increment-button,
.scroll-bar .decrement-button,
.innerPlane,
#infoTextBox {
    -fx-background-color: #395B64;
    -fx-border-color: #313131;
    -fx-border-width: 1px;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-effect: dropshadow(gaussian, #313131, 5, 0, 0, 1);
    -fx-alignment: center;
}

#infoTextBox {
    -fx-background-color: rgba(57, 91, 100, 0.5);
    -fx-border-color: #162326;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #395B64, 5, 0, 0, 1);
    -fx-alignment: center;
}

#loginButton {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, #313131, 0, 0, 0, 0);
    -fx-alignment: center;
    -fx-font-weight: bold;
}

#registerButton {
    -fx-border-width: 0px;
}

#mainMenuButton,
#pauseButton,
rightListBox {
    -fx-background-color: #395B64;
    -fx-border-color: #C9D6D3;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow(gaussian, #395B64, 0, 0, 0, 0);
    -fx-alignment: center;
}

.text-field,
.password-field {
    -fx-font-size: 16px;
    -fx-background-color: linear-gradient(to bottom, #808C89, #395B64);
    -fx-border-color: #162326;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #395B64, 5, 0, 0, 1);
}

.text-field {
    -fx-font-size: 14px;
}

#textBox,
#left,
#friendListContainer,
#trainerContainer,
#pauseMenuVBox,
#yourBeastsPane,
#fightingBeastPane,
#VBoxInvList,
#scoreBoard,
#achievements,
#VBoxBeastList,
#VBoxBeastDetail,
#VBoxMondexList,
#VBoxMondexDetail,
#VBoxShopList,
#VBoxItemDetail {
    -fx-background-color: #677878;
    -fx-border-color: #162326;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #677878, 5, 0, 0, 1);
}

#pauseMenuVBox .button {
    -fx-font-size: 14px;
}

#beast,
#description,
#VBoxBeastDetail .description,
#scoreboardUser,
#friendList,
#_rootElement,
#scrollFriends,
#changeBeastElement,
#_ItemRootElement,
.beastTeamElement {
    -fx-background-color: #4C5250;
    -fx-border-color: #262928;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#textArea_description {
    -fx-background-color: #4C5250;
}

#scoreBoardTitle {
    -fx-font-size: 23px;
}

#nameText {
    -fx-font-size: 17px;
}

#achievementsText {
    -fx-font-size: 10px;
}

#dialogWindow,
#msgList,
#chatList,
#regionList,
.region-cell,
#vboxKeybindings,
#chatScrollPane .viewport,
#regionList .list-cell:even,
#regionList .list-cell:odd,
#beastListView,
#beastListView .list-cell:even,
#beastListView .list-cell:odd,
#teamListView,
#teamListView .list-cell:even,
#teamListView .list-cell:odd {
    -fx-background-color: #666666;
}

#chatList {
    -fx-font-size: 14px;
}

#regionList .button {
    -fx-font-size: 12px;
}

.regionInfo {
    -fx-background-color: linear-gradient(to bottom, #808C89, #395B64);
    -fx-border-color: #162326;
    -fx-opacity: 0.7;
}

Text {
    -fx-fill: #C7C7C7;
}

.radio-button .dot {
    -fx-mark-highlight-color: white;
    -fx-mark-color: white;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-border-color: #4C5250CF;
    -fx-border-width: 0;
}

#users,
#users .viewport,
#addedUsers,
#addedUsers .viewport {
    -fx-background-color: transparent;
    -fx-border-color: #4C5250CF;
    -fx-border-width: 2;
}

.text-area {
    text-area-background: transparent;
}

.text-area .content {
    -fx-background-color: text-area-background;
}

#actionInfoText {
    -fx-font-size: 16px;
    -fx-background-color: #677878;
    -fx-border-color: #162326;
}

#attackBox1,
#attackBox2,
#attackBox3,
#attackBox4 {
    -fx-font-size: 10px;
    -fx-background-color: #677878;
    -fx-border-color: #162326;
}

#abilityInfo {
    -fx-background-color: #677878;
    -fx-border-color: #162326;
}

#hpLabel,
#xpLabel {
    -fx-text-fill: black;
}

#beastInfoContainer,
#enemyBeastInfoContainer,
#beastInfo {
    -fx-background-color: #677878;
    -fx-border-color: #162326;
}

#ellipse {
    -fx-fill: #395B64;
}

#backroundHbox {
    -fx-background-color: #666666;
}

#innerGridPane, #innerVBox{
    -fx-background-color: linear-gradient(to bottom, #395B64, #3D4241);
    -fx-border-color: #313131;
    -fx-border-radius: 10;
}

.combo-box, .arrow-button {
    -fx-background-color: linear-gradient(to bottom, #808C89, #395B64);
}

.arrow {
    -fx-background-color: white;
}

#achievementPane .button {
    -fx-background-color: #4C5250;
}

#catchInfoBg {
    -fx-background-color: #395B64;
    -fx-border-color: #162326;
    -fx-border-width: 1px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}
