.root {
    -fx-background-color: #666666;
}

.radio-button .radio {
    -fx-background-color: #E7F6F2;
    -fx-border-color: #C9D6D3;
    -fx-border-width: 1px;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-effect: dropshadow(gaussian, #E7F6F2, 5, 0, 0, 1);
}

#rememberMe .box {
    -fx-background-color: #E7F6F2;
    -fx-border-color: #C9D6D3;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-effect: dropshadow(gaussian, #E7F6F2, 5, 0, 0, 1);
}

.button, .radio-button .radio, .slider .track, .scroll-bar .track, .scroll-bar .increment-button, .scroll-bar .decrement-button, .pauseMenuHBox {
    -fx-background-color: #395B64;
    -fx-border-color: #162326;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #395B64, 5, 0, 0, 1);
    -fx-alignment: center;
}

#registerButton,
#login {
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow(gaussian, #D6B656, 0, 0, 0, 0);
    -fx-alignment: center;
}

#editProfileButton,
#mainMenuButton,
#pauseButton {
    -fx-background-color: #395B64;
    -fx-border-color: #C9D6D3;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow(gaussian, #395B64, 0, 0, 0, 0);
    -fx-alignment: center;
}

.text-field,
.password-field {
    -fx-background-color: linear-gradient(to bottom, #808C89, #395B64);
    -fx-border-color: #162326;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #395B64, 5, 0, 0, 1);
}

#left,
#friendListContainer,
#trainerContainer,
#pauseMenuVBox {
    -fx-background-color: #677878;
    -fx-border-color: #162326;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #677878, 5, 0, 0, 1);
}

#friendList,
#_rootElement,
#friendList,
#scoreBoard,
#achievements,
#VBoxBeastList,
#scrollFriends,
#VBoxBeastDetail {
    -fx-background-color: #4C5250;
    -fx-border-color: #262928;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#scoreBoard,
#achievements,
#VBoxBeastList,
#VBoxBeastDetail {
    -fx-background-color: #4C5250CF;
}

#msgList,
#chatList,
#regionList,
.region-cell,
#vboxKeybindings,
#chatScrollPane .viewport,
#regionList .list-cell:even,
#regionList .list-cell:odd {
    -fx-background-color: #666666;
}

* {
    -fx-text-fill: #C7C7C7;
}

.regionInfo {
    -fx-background-color: linear-gradient(to bottom, #808C89, #395B64);
    -fx-border-color: #162326;
    -fx-font-family: Happy Monkey;
    -fx-opacity: 0.7;
}

Text {
    -fx-fill: #C7C7C7;
}

.radio-button .dot {
    -fx-mark-highlight-color: white;
    -fx-mark-color: white;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-border-color: #4C5250CF;
    -fx-border-width: 1;
}

.text-area {
    text-area-background: transparent;
}

.text-area .content {
    -fx-background-color: text-area-background;
}
