@font-face {
    font-family: "Happy Monkey";
    src: url("HappyMonkey-Regular.ttf");
}

* {
    -fx-font-family: "Happy Monkey";
}

.root {
    -fx-background-color: #DBF0EB;
}

.button, .radio-button {
    -fx-font-size: 16px;
}

#logoutBtn {
    -fx-font-size: 12px;
}

.radio-button .radio,
.slider .track,
.scroll-bar .track,
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: #FFD4B2;
    -fx-border-color: #D79B00;
    -fx-border-width: 1px;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-effect: dropshadow(gaussian, #D79B00, 5, 0, 0, 1);
}

#infoTextBox {
    -fx-background-color: linear-gradient(to bottom, rgba(206, 237, 199, 0.5), rgba(219, 240, 235, 0.5));
    -fx-border-color: #82B366;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #D6B656, 5, 0, 0, 1);
}

#achievementPane .box,
#rememberMe .box {
    -fx-background-color: #FFD4B2;
    -fx-border-color: #D79B00;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-effect: dropshadow(gaussian, #D79B00, 5, 0, 0, 1);
}

#rememberMe .box,
#rememberMe .text {
    -fx-font-size: 20px;
}

.button, .pauseMenuHBox {
    -fx-background-color: #FFF6BD;
    -fx-border-color: #D6B656;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #D6B656, 5, 0, 0, 1);
    -fx-alignment: center;
}

#registerButton,
#loginButton {
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow(gaussian, #D6B656, 0, 0, 0, 0);
    -fx-alignment: center;
}

#mainMenuButton,
#pauseButton,
.leftListBox,
.rightListBox {
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow(gaussian, #D6B656, 0, 0, 0, 0);
    -fx-alignment: center;
}

.text-field,
.password-field,
.innerPlane {
    -fx-font-size: 16px;
    -fx-background-color: linear-gradient(to bottom, #DBF0EB, #CEEDC7);
    -fx-border-color: #82B366;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #82B366, 5, 0, 0, 1);
}

.text-field {
    -fx-font-size: 14px;
}

#textBox,
#left,
#friendListContainer,
#trainerContainer,
#pauseMenuVBox,
#yourBeastsPane,
#fightingBeastPane,
#VBoxShopList,
#VBoxInvList,
#scoreBoard,
#achievements,
#VBoxBeastList,
#VBoxMondexList,
#VBoxMondexDetail,
#VBoxBeastDetail,
#VBoxItemDetail {
    -fx-background-color: linear-gradient(to bottom, #CEEDC7, #DBF0EB);
    -fx-border-color: #82B366;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #D6B656, 5, 0, 0, 1);
}

#pauseMenuVBox .button {
    -fx-font-size: 14px;
}

#beast,
#description,
#scoreboardUser,
#friendList,
#_rootElement,
#scrollFriends,
#changeBeastElement,
#_ItemRootElement,
.beastTeamElement {
    -fx-background-color: #FFD4B2;
    -fx-border-color: #D79B00;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#textArea_description {
    -fx-background-color: #FFD4B2;
}

#scoreBoardTitle {
    -fx-font-size: 23px;
}

#nameText {
    -fx-font-size: 17px;
}

#achievementsText {
    -fx-font-size: 10px;
}

#dialogWindow,
#msgList,
#chatList,
#regionList,
.region-cell,
#chatScrollPane .viewport,
#regionList .list-cell:even,
#regionList .list-cell:odd,
#beastListView,
#beastListView .list-cell:even,
#beastListView .list-cell:odd,
#teamListView,
#teamListView .list-cell:even,
#teamListView .list-cell:odd {
    -fx-background-color: #DBF0EB;
}

#chatList {
    -fx-font-size: 14px;
}

#regionList .button {
    -fx-font-size: 12px;
}

.regionInfo {
    -fx-background-color: linear-gradient(to bottom, #CEEDC7, #DBF0EB);
    -fx-border-color: #82B366;
    -fx-opacity: 0.7;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-border-color: #82B366;
    -fx-border-width: 0;
}

#users,
#users .viewport,
#addedUsers,
#addedUsers .viewport {
    -fx-background-color: transparent;
    -fx-border-color: #82B366;
    -fx-border-width: 2;
}

.text-area {
    text-area-background: transparent;
}

.text-area .content {
    -fx-background-color: text-area-background;
}

#beastInfo, #abilityInfo {
    -fx-background-color: #E8E8E8;
}

#actionInfoText {
    -fx-font-size: 16px;
    -fx-background-color: white;
    -fx-border-color: black;
}

#attackBox1,
#attackBox2,
#attackBox3,
#attackBox4 {
    -fx-font-size: 11px;
    -fx-background-color: white;
    -fx-border-color: black;
}

#hpLabel,
#xpLabel {
    -fx-text-fill: black;
}

#beastInfoContainer,
#enemyBeastInfoContainer {
    -fx-background-color: white;
    -fx-border-color: black;
}

#ellipse {
    -fx-fill: #CEEDC7;
}

#achievementPane .button {
    -fx-background-color: #FFD4B2;
}