.root {
    -fx-background-color: #DBF0EB;
}

.radio-button .radio, .slider .track, .scroll-bar .track, .scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: #FFD4B2;
    -fx-border-color: #D79B00;
    -fx-border-width: 1px;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-effect: dropshadow(gaussian, #D79B00, 5, 0, 0, 1);
}

#rememberMe .box {
    -fx-background-color: #FFD4B2;
    -fx-border-color: #D79B00;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-effect: dropshadow(gaussian, #D79B00, 5, 0, 0, 1);
}

.button {
    -fx-background-color: #FFF6BD;
    -fx-border-color: #D6B656;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #D6B656, 5, 0, 0, 1);
    -fx-alignment: center;
}

#registerButton,
#loginButton {
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow(gaussian, #D6B656, 0, 0, 0, 0);
    -fx-alignment: center;
}

#editProfileButton,
#mainMenuButton,
#pauseButton {
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow(gaussian, #D6B656, 0, 0, 0, 0);
    -fx-alignment: center;
}

.text-field,
.password-field {
    -fx-background-color: linear-gradient(to bottom, #DBF0EB, #CEEDC7);
    -fx-border-color: #82B366;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #82B366, 5, 0, 0, 1);
}

#left,
#friendListContainer,
#trainerContainer {
    -fx-background-color: linear-gradient(to bottom, #CEEDC7, #DBF0EB);
    -fx-border-color: #82B366;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #D6B656, 5, 0, 0, 1);
}

#friendList,
#_rootElement,
#friendList,
#scoreBoard,
#achievements,
#scrollFriends {
    -fx-background-color: #FFD4B2;
    -fx-border-color: #D79B00;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#scoreBoard,
#achievements {
    -fx-background-color: #FFD4B2CF;
}

#msgList,
#chatList,
#regionList,
.region-cell,
#chatScrollPane .viewport {
    -fx-background-color: #DBF0EB;
}

.scroll-pane .viewport {
       -fx-background-color: transparent;
}